* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

img {
    width: 400px;

}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    width: 299px;

    top: 656px;
    left: 870px;
    height: 100px;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

input {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    width: 342px;
    height: 74px;
    top: 705px;
    left: 647px;
    padding: 13px, 233px, 30px, 16px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    opacity: 0.7;
    color: #FFFFFF;

}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-2 {
    margin-left: 67px;

}

button {
    width: 342px;
    height: 72px;
    top: 858px;
    left: 849px;
    border-radius: 10px;
    border: none;
    background: rgba(174, 195, 70, 1);
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    margin-top: 80px;
    cursor: pointer;
}

.random {
    margin-left: 800px;
    margin-top: -100px;
    width: 200px;

}

button:hover {
    opacity: 0.8;
}

button:active {
    color: rgb(0, 255, 106);
}